.player-side {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.display-choice{
    font-size: 15px;
}
.text{
    font-size: 50px;
}

li {
    list-style-type: none;
    margin-bottom: 20px;
}
input {
    font-size: 20px;
    margin: 30px;
}
.buttons,
.computer-choice,
.counter-container,
.result-text {
    margin: 20px;
}

.clicked{
    background-color: orangered;
    font-size: 20px;
}
.buttons{
    display: flex;
    gap: 20px;
}